@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fafafa;
    margin: 10px;
}

.container-cv{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffff;
    padding: 20px 0;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
}

.container-articles{
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

.container-articles-right{
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

.container-articles-right .card{
    height: auto;
}

.container-img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.section-title{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    background-color: #eedea5;
}

.container-img-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    margin-bottom: 50px;
    height: 336px;
}

.container-articles-right .card{
    height: 142px;
}

h1{
    width: 300px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

h2{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

p, li{
    font-weight: 300;
    margin: 5px;
}

img{
    width: 100%;
    height: auto;
}

@media(max-width: 1165px){
    .container-cv{
        width: 95%;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(max-width: 600px){
    body{
        margin: 0;
    }
    .container-cv{
        width: 95%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container-articles{
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
    }
    
    .container-articles-right{
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
    }
}